.navigation {
  width: 100%;
  height: 72px;
  padding: 0 0 0 12px;
  gap: 32px;
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  gap: 32px;
}

.navigation-item {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 48px;
  padding: 6px 6px 6px 0;
  border: 0px 0px 2px 0;
  gap: 8px;
  cursor: pointer;
}

.navigation-item:hover {
  border-bottom: 2px solid #3da7f3;
}

.navigation-item:first-child {
  border-bottom: 2px solid #3da7f3;
}

.navigation-item a {
  color: #ffffff;
  text-decoration: none;
}

.logo-icon {
  color: #bbbbbb;
}

.work-suport-icon {
  background-image: url("../../../../../assets/icons/work-support.png");
}
.ai-assistent-icon {
  background-image: url("../../../../../assets/icons/ai-asisstent.png");
}

.well-being-icon {
  background-image: url("../../../../../assets/icons/well-being.png");
}

.socialize-me-icon {
  background-image: url("../../../../../assets/icons/socialize-me.png");
}

.knowledge-base-icon {
  background-image: url("../../../../../assets/icons/knowledge-base.png");
}

.round-element {
  width: 48px;
  height: 48px;
  background-color: #333; /* Replace with your desired background color */
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  /* Add any other styles you need for the round element */

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.search-icon {
  background-image: url("../../../../../assets/icons/search.png");
}

.bell-icon {
  background-image: url("../../../../../assets/icons/bell.png");
}
