<header>
    <nav class="navigation">
        <ul class="navigation-list">
            <li>
              <a href="#">
                <!-- <span>
                  <img src="../../../../../assets/svg/Name=Work Support, Size=16x16.svg" alt="Work Support" class="logo-icon">
                </span> -->
                Work Support
              </a>
            </li>
            <li>
              <a href="#">
                <!-- <span>
                  <img src="../../../../../assets/svg/Name=AI Assistant, Size=16x16.svg" alt="AI Assistant" class="logo-icon">
                </span> -->
                AI Assistant
              </a>
            </li>
            <li>
              <a href="#">
                <!-- <span>
                  <img src="../../../../../assets/svg/Name=Digital Wellbeing, Size=16x16.svg" alt="Well-Beign" class="logo-icon">
                </span> -->
                Well-Beign
              </a>
            </li>
            <li>
              <a href="#">
                <!-- <span>
                  <img src="../../../../../assets/svg/Name=Socialize Me, Size=16x16.svg" alt="Socialize Me" class="logo-icon">
                </span> -->
                Socialize Me
              </a>
            </li>
            <li>
              <a href="#">
                <!-- <span>
                  <img src="../../../../../assets/svg/Name=Knowledge Base, Size=16x16.svg" alt="Knowledge Base" class="logo-icon">
                </span> -->
                Knowledge Base
              </a>
            </li>
            <button class="round-element1"></button>
            <button class="round-element2"></button>
            <button class="round-element3"></button>
        </ul>
    </nav>
</header>