<header>
  <nav class="navigation">
    <ul class="navigation-list">
      <li class="navigation-item">
        <span class="icon work-suport-icon"></span>
        <a href="#"> Work Support </a>
      </li>
      <li class="navigation-item">
        <span class="icon ai-assistent-icon"></span>
        <a href="#"> AI Assistant </a>
      </li>
      <li class="navigation-item">
        <span class="icon well-being-icon"></span>
        <a href="#"> Well-Beign </a>
      </li>
      <li class="navigation-item">
        <span class="icon socialize-me-icon"></span>
        <a href="#"> Socialize Me </a>
      </li>
      <li class="navigation-item">
        <span class="icon knowledge-base-icon"></span>
        <a href="#"> Knowledge Base </a>
      </li>
    </ul>
    <ul class="navigation-info-buttons">
      <li><button class="round-element"></button></li>
      <li><button class="round-element"></button></li>
      <li><button class="round-element"></button></li>
    </ul>
  </nav>
</header>
