<section class="home">
    <div class="home-header">
      <h2>DayBuddy</h2>
      <p>Your AI-Powered Personal Assistant</p>
    </div>
    <div>
      <div> 
        <a class="link-items" routerLink="/virtual-coffee-break">Virtual Coffee Break</a>
        <a class="link-items" routerLink="/emotional-support">Emotional Support</a>
        <a class="link-items" routerLink="/work-support">Work Support</a>
        <a class="link-items" routerLink="/sport-activity-organizer">Sport Activity Organizer</a>
      </div>
    </div>
</section>