<div class="container">
  <div class="left-div">
    <div class="header">
      <img src="../../../../../assets/svg/Logo.svg" alt="Logo" class="logo">
    </div>
    <div class="border-div">

    </div>
    <div class="left-div-body">

    </div>
  </div>

  <div class="right-div">
      <header>
          <nav class="navigation">
              <ul class="navigation-list">
                  <li>
                    <a href="#">Work Support</a>
                  </li>
                  <li>
                    <a href="#">AI Assistant</a>
                  </li>
                  <li>
                    <a href="#">Well-Beign</a>
                  </li>
                  <li>
                    <a href="#">Socialize Me</a>
                  </li>
                  <li>
                    <a href="#">Knowledge Base</a>
                  </li>
              </ul>
          </nav>
      </header>
  </div>
</div>