.container {
  display: flex;
  gap: 30px;
  width: 1440px; 
  height: 960px; 
  margin: 0 auto;
}

.left-div {
  width: 236px;
  height: 960px;
  padding: 8px 12px 32px 12px;
  border-radius: 0px 20px 0px 0px;
  background-color: #262626; 
}

.right-div {
  width: 1196px;
  height: 960px;
  padding: 8px 24px 32px 24px;
  border-radius: 20px 0px 0px 0px;
  background-color: #262626;
  gap: 4px;
}

.header {
  height: 64px;
  text-align: center;
  padding-top: 8px; 
}

.logo {
  width: 212px;
  height: 64px;
}

.border-div {
  width: 236px;
  height: 2px;
  background-color: #161616;
  margin-top: 8px;
}

.left-div-body {
  width: 212px;
  height: 746px;
  gap: 32px; 
}

.navigation {
  width: 1148px;
  height: 72px;
  padding: 0 0 0 12px;
  gap: 32px; 
}

.navigation-list {
  list-style-type: none;
  display: flex;
}

.navigation-list a {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 137px;
  height: 48px;
  padding: 6px 6px 6px 0;
  border: 0px 0px 2px 0;
  gap: 8px;
  color: #ffffff;
  font-size: 16px; 
}

.logo-icon {
  color: #BBBBBB;
}