.container {
  display: flex;
  gap: 30px;
  width: 1440px; 
  height: 960px; 
  margin: 0 auto;
}

.left-container {
  width: 236px;
  height: 960px;
  padding: 8px 12px 32px 12px;
  border-radius: 0px 20px 0px 0px;
  background-color: #262626; 
}

.right-container {
  width: 1196px;
  height: 960px;
  padding: 8px 24px 32px 24px;
  border-radius: 20px 0px 0px 0px;
  background-color: #262626;
  gap: 4px;
}

.header {
  height: 64px;
  text-align: center;
  padding-top: 8px; 
}

.logo {
  width: 212px;
  height: 64px;
}

.border-div {
  width: 236px;
  height: 2px;
  background-color: #161616;
  margin-top: 8px;
}

.left-container-body {
  width: 212px;
  height: 746px;
  gap: 32px; 
}

