.container {
  display: flex;
  height: 100vh;
}

.left-container {
  width: 236px;
  padding: 8px 12px 32px 12px;
  border-radius: 0px 20px 0px 0px;
  background: linear-gradient(180deg, #242424 0%, #383838 51.04%, #242424 100%);
}

.right-container {
  width: 100%;
  padding: 8px 24px 32px 24px;
  border-radius: 20px 0px 0px 0px;
  background-color: #262626;
  gap: 4px;
}

.header {
  height: 64px;
  text-align: center;
  padding-top: 8px;
}

.logo {
  width: 121.301px;
  height: 25.002px;
}

.left-header {
  border-bottom: 2px solid #161616;
  padding: 10px;
}

.left-container-body {
  width: 212px;
  gap: 32px;
}
