<div class="main-chat-container">
    <div class="prompt-input">
        <div class="suggestion-prompt-container">
            <div class="suggestion-prompt">
                Let me support you in finding the mentor
                who can best contribute to your growth.
            </div>
            <div class="suggestion-prompt">
                Find answers and insights in our Knowledge Base
            </div>
        </div>
        <input type="text" placeholder="Message DayBuddy...">
    </div>
</div>