.main-chat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.prompt-input {
  margin-top: auto;
}

.prompt-input input {
  width: 1108px;
  height: 56px;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #515151;
  background-color: #262626;
  outline: none;
  text-indent: 2rem;
}

.suggestion-prompt-container {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 30px;
}

.suggestion-prompt {
  width: 440px;
  height: 96px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #515151;
  background-color: #262626;
  padding: 24px;
}

.suggestion-prompt:hover {
  cursor: pointer;
  background-color: #515151;
}

.conversation-container {
  margin: 20px; 
}

.send {
  position: absolute;
  right: 17%; 
  bottom: 7.5%; 
}