<div class="main-chat-container">
  <div class="converzation-wrapper">
    <div
      *ngFor="let message of messages$ | async"
      class="conversation-container"
    >
      <!-- Display Messages -->
      <div class="message" *ngFor="let msg of message.messages">
        <p>
          <span
            [ngClass]="message.ai ? 'robot-head-icon' : ''"
            class="chat-icon"
          ></span>
          {{ message.ai ? "DayBuddy" : "You" }}
        </p>
        <p>{{ msg }}</p>
      </div>

      <!-- Display Buttons -->
      <div
        class="buttons"
        *ngIf="message.buttons && message.buttons.length > 0"
      >
        <div *ngFor="let button of message.buttons; let i = index">
          <br />
          <button
            [disabled]="button.selected"
            (click)="disableButtonsAfterSelect(i, message.buttons, button.api)"
          >
            {{ button.name }}
          </button>
        </div>
      </div>
      <!-- Display Mentors -->
      <div
        class="mentors-container"
        *ngIf="message.mentors && message.mentors.length > 0"
      >
        <div
          *ngFor="let mentor of message.mentors; let i = index"
          class="single-mentor-container"
        >
          <div class="inner-container">
            <div class="profile-info">
              <img
                src="{{ mentor.img }}"
                alt="{{ mentor.img }}"
                class="mentor-img"
              />
              <div class="mentor-data">
                <p class="profile-match">
                  {{ mentor.matchPercent }}% Match - View Mentor Profile
                </p>
                <p class="mentor-name">
                  {{ mentor.firstName }} {{ mentor.lastName }}
                </p>
                <p class="mentor-title">{{ mentor.jobTitle }}</p>
              </div>
            </div>
            <div class="action-buttons">
              <button>Message</button>
              <a>Schedule a meeting</a>
            </div>
          </div>
          <!-- <br />
          <div>
            <br />
            <div>{{ mentor.firstName }} {{ mentor.lastName }}</div>
            <br />
            <div>{{ mentor.jobTitle }} {{ mentor.email }}</div>
            <br />
            <div>{{ mentor.matchPercent }}</div> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="prompt-input">
    <div class="suggestion-prompt-container">
      <ng-container *ngIf="disabledInputField">
        <div class="suggestion-prompt" (click)="sendMessageToAI()">
          Let me support you in finding the mentor who can best contribute to
          your growth.
        </div>
        <div class="suggestion-prompt">
          Find answers and insights in our Knowledge Base
        </div>
      </ng-container>
    </div>
    <div class="input-container">
      <input
        [disabled]="disabledInputField"
        [(ngModel)]="newMessage"
        type="text"
        placeholder="Message DayBuddy..."
      />
      <span class="send-icon" (click)="sendMessage()"> </span>
    </div>
  </div>
</div>
