<div class="main-chat-container">
  <div class="converzation-wrapper">
    <div
      *ngFor="let message of messages$ | async"
      class="conversation-container"
    >
      <!-- Display Messages -->
      <div class="message" *ngFor="let msg of message.messages">
        <p>
          <span
            [ngClass]="message.ai ? 'robot-head-icon' : 'initials-circle'"
            class="chat-icon"
            >{{ message.ai ? "" : (user | initials) }}</span
          >
          {{ message.ai ? "DayBuddy" : "You" }}
        </p>
        <p [innerHTML]="msg"></p>
      </div>

      <!-- Display Buttons -->
      <div
        class="buttons"
        *ngIf="message.buttons && message.buttons.length > 0"
      >
        <div *ngFor="let button of message.buttons; let i = index">
          <button
            [disabled]="button.isDisabled"
            (click)="selectButton(i, message.buttons, button.api)"
          >
            {{ button.name }}
          </button>
        </div>
      </div>
      <!-- Display Mentors -->
      <div
        class="mentors-container"
        *ngIf="message.mentors && message.mentors.length > 0"
      >
        <div *ngIf="!showMoreItems">
          <div class="single-mentor-container">
            <div class="inner-container">
              <div class="profile-info" (click)="openModal(message.mentors[0])">
                <img
                  src="{{ message.mentors[0].img }}"
                  alt="{{ message.mentors[0].img }}"
                  class="mentor-img"
                />
                <div class="mentor-data">
                  <p class="profile-match">
                    {{ message.mentors[0].matchPercent }}% Match - View Mentor
                    Profile
                  </p>
                  <p class="mentor-name">
                    {{ message.mentors[0].firstName }}
                    {{ message.mentors[0].lastName }}
                  </p>
                  <p class="mentor-title">{{ message.mentors[0].jobTitle }}</p>
                </div>
              </div>
              <div class="action-buttons">
                <button>
                  <a
                    href="https://teams.microsoft.com/l/chat/0/0?users=${{
                      message.mentors[0].email
                    }}"
                    target="_blank"
                    >Message</a
                  >
                </button>
                <a (click)="scheduleMeeting(message.mentors[0].scheduleApi)"
                  >Schedule a meeting</a
                >
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showMoreItems || message.mentors.length === 1">
          <div
            *ngFor="let mentor of message.mentors; let i = index"
            class="single-mentor-container"
          >
            <div class="inner-container">
              <div class="profile-info" (click)="openModal(mentor)">
                <img
                  src="{{ mentor.img }}"
                  alt="{{ mentor.img }}"
                  class="mentor-img"
                />
                <div class="mentor-data">
                  <p class="profile-match">
                    {{ mentor.matchPercent }}% Match - View Mentor Profile
                  </p>
                  <p class="mentor-name">
                    {{ mentor.firstName }} {{ mentor.lastName }}
                  </p>
                  <p class="mentor-title">{{ mentor.jobTitle }}</p>
                </div>
              </div>
              <div class="action-buttons">
                <button>
                  <a
                    href="https://teams.microsoft.com/l/chat/0/0?users=${{
                      mentor.email
                    }}"
                    target="_blank"
                    >Message</a
                  >
                </button>
                <a (click)="scheduleMeeting(mentor.scheduleApi)"
                  >Schedule a meeting</a
                >
              </div>
            </div>
          </div>
        </div>
        <button class="showMoreBtn" (click)="toggleShowMore()">
          Show {{ showMoreItems ? "Less" : "More" }} Mentors
        </button>
      </div>
    </div>
    <div class="loading-dots" *ngIf="typing$ | async">
      <div class="message">
        <p>
          <span class="robot-head-icon chat-icon"></span>
          DayBuddy
        </p>
      </div>
      <span class="loading-dot"></span>
      <span class="loading-dot"></span>
      <span class="loading-dot"></span>
    </div>
  </div>
  <div class="prompt-input">
    <div class="suggestion-prompt-container">
      <ng-container *ngIf="disabledInputField">
        <div class="suggestion-prompt" (click)="sendSuggestionMessageToAI()">
          Let me support you in finding the mentor who can best contribute to
          your growth.
        </div>
        <div class="suggestion-prompt">
          Find answers and insights in our Knowledge Base
        </div>
      </ng-container>
    </div>
    <div class="input-container">
      <input
        [disabled]="disabledInputField"
        [(ngModel)]="newMessage"
        appHighlightInput
        type="text"
        placeholder="Message DayBuddy..."
      />
      <span
        class="{{ disabledInputField ? 'disabled-send-icon' : 'send-icon' }}"
        (click)="sendMessage()"
      >
      </span>
    </div>
  </div>
</div>

<div class="overlay" id="modal">
  <div class="modal">
    <div class="exit" (click)="exitModal()"></div>
    <div class="cover-image"></div>
    <div class="profile-page">
      <div class="inner-container">
        <div class="profile-container">
          <img
            src="{{ profileMentor?.img }}"
            alt="{{ profileMentor?.img }}"
            class="profile-picture"
          />
          <div class="profile-page-info">
            <p class="profile-name">
              {{ profileMentor?.firstName }} {{ profileMentor?.lastName }}
            </p>
            <p class="profile-job">{{ profileMentor?.jobTitle }}</p>
          </div>
        </div>
        <div class="buttons-container">
          <a (click)="scheduleMeeting(profileMentor?.scheduleApi!)">Schedule a meeting</a>
          <button>
            <a
              href="https://teams.microsoft.com/l/chat/0/0?users=${{
                profileMentor?.email
              }}"
              target="_blank"
              >Message</a
            >
          </button>
        </div>
      </div>
      <div class="about-container">
        <h3>About me</h3>
        <br />
        <p>
          👋Hello! I'm Sarah Wilkinson, a seasoned Senior Backend Developer with
          a passion for crafting robust and scalable solutions. With 12 years of
          hands-on experience in the ever-evolving realm of backend development,
          I specialize in architecting and implementing high-performance systems
          that drive seamless user experiences.
        </p>
        <br />
        <p>
          🚀My expertise lies in designing and optimizing backend architecture,
          database management, and API development. I thrive on tackling complex
          challenges and take pride in delivering solutions that exceed expecta
        </p>
      </div>
      <div class="row">
        <div class="activity-box">
          <h3>Active Projects</h3>
          <div class="active-project-holder">
            <div class="active-project">
              <div class="active-project-name"><a>Financial Flare</a></div>
              <p>Fin-Tech</p>
            </div>
            <div class="active-project">
              <div class="active-project-name"><a>MediSync</a></div>
              <p>Pharmaceutical Industry</p>
            </div>
            <div class="active-project">
              <div class="active-project-name"><a>AutoTech Evolution</a></div>
              <p>Automotive Industry</p>
            </div>
          </div>
        </div>
        <div class="activity-box">
          <h3>Skils</h3>
          <div class="active-button-holder">
            <button class="active-btn">Figma</button
            ><button class="active-btn">Video Production</button
            ><button class="active-btn">UX Design</button
            ><button class="active-btn">UI Design</button
            ><button class="active-btn">After Effects</button
            ><button class="active-btn">Branding</button
            ><button class="active-btn">Blender</button
            ><button class="active-btn">DaVinci Resolve</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="activity-box">
          <h3>Past Projects</h3>
          <div class="active-project-holder">
            <div class="past-project">
              <div class="left-border">
                <div class="past-project-name"><a>Financial Flare</a></div>
                <p>Fin-Tech</p>
              </div>
            </div>
            <div class="past-project">
              <div class="left-border">
                <div class="past-project-name"><a>MediSync</a></div>
                <p>Pharmaceutical Industry</p>
              </div>
            </div>
            <div class="past-project">
              <div class="left-border">
                <div class="past-project-name"><a>AutoTech Evolution</a></div>
                <p>Automotive Industry</p>
              </div>
            </div>
          </div>
        </div>
        <div class="activity-box">
          <h3>Interest</h3>
          <div class="active-button-holder">
            <button class="active-btn">Basketball</button
            ><button class="active-btn">Animation</button
            ><button class="active-btn">3D Modeling</button
            ><button class="active-btn">Fishing</button
            ><button class="active-btn">Hiking</button
            ><button class="active-btn">Music</button
            ><button class="active-btn">Botany</button
            ><button class="active-btn">Architecture</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
