* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f4f4f4;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

html,
body {
  height: 100%;
  background-color: #161616;
}

a {
  color: #0088ea;
  cursor: pointer;
}
